{% extends 'admin/base_site.html' %}

{% block content %}
<h1>THỐNG KÊ SỐ PHÒNG</h1>
{{stats}}

<ul>
    {% for c in stats %}
    <li><strong>{{c.id}}</strong>: {{c.count}}</li>
    {% endfor %}
</ul>
<canvas id="myChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    let lables = [];
    let values = [];

    {% for c in stats %}
    lables.push({{c.id}})
    values.push({{c.count}})
    {% endfor %}

    window.onload = () => {
        const ctx = document.getElementById('myChart');

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: lables,
          datasets: [{
            label: '# so luong',
            data: values,
            borderWidth: 1,
            backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
      'rgb(255, 205, 86)'
    ]
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    }

</script>

{% endblock %}
